In [2]:
l = [[1,2,3,4] , (2,3,4,5,6) , (3,4,5,6,7) , set([23,4,5,45,4,4,5,45,45,4,5]) , {'k1' :"sudh" , "k2" : "ineuron","k3":
            "kumar" , 3:6 , 7:8} , ["ineuron" , "data science "]]

In [6]:
#q3 : Try to extract all the list entity 
for i in l:
    if type(i)==list:
        print(i)

[1, 2, 3, 4]
['ineuron', 'data science ']

In [7]:
#q4 : Try to extract all the dict enteties
for i in l:
    if type(i)==dict:
        print(i)

{'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8}

In [24]:
#q5 : Try to extract all the tuples entities
for i in l:
    if type(i)==tuple:
        print(i)

(2, 3, 4, 5, 6)
(3, 4, 5, 6, 7)

In [22]:
#q6 : Try to extract all the numerical data it may b a part of dict key and values 

l = [[1,2,3,4] , (2,3,4,5,6) , (3,4,5,6,7) , set([23,4,5,45,4,4,5,45,45,4,5]) , {'k1' :"sudh" , "k2" : "ineuron","k3":
            "kumar" , 3:6 , 7:8} , ["ineuron" , "data science "]]

In [56]:
empty_li=[]
for z in l:
    if type(z)==list or type(z)==tuple or type(z)==set:
        #print(z)
        for i in z:
            if type(i)==int:
                empty_li.append(i)
    if type(z)==dict:
        for k in z.items():
            for g in k:
                if type(g)==int:
                    empty_li.append(g)

In [51]:
empty_li

[1, 2, 3, 4, 2, 3, 4, 5, 6, 3, 4, 5, 6, 7, 45, 4, 5, 23, 3, 7]

In [57]:
#q7 : Try to give summation of all the numeric data 
sum(empty_li)

156

In [59]:
#q8 : Try to filter out all the odd values out all numeric data which is a part of a list 
for i in empty_li:
    if i%2!=0:
        print(i)

1
3
3
5
3
5
7
45
5
23
3
7

In [60]:
#q9 : Try to extract "ineruon" out of this data
l = [[1,2,3,4] , (2,3,4,5,6) , (3,4,5,6,7) , set([23,4,5,45,4,4,5,45,45,4,5]) , {'k1' :"sudh" , "k2" : "ineuron","k3":
            "kumar" , 3:6 , 7:8} , ["ineuron" , "data science "]]

In [76]:
li=[]
for i in l:
    if type(i)==tuple or type(i)==list:
        for z in i:
            if z=="ineuron":
                li.append(z)
    if type(i)==dict:
        for k in i.items():
            for g in k:
                if g=="ineuron":
                    li.append(g)

In [86]:
li

['ineuron', 'ineuron']

In [185]:
#q10 :Try to find out a number of occurances of all the data 
l = [[1,2,3,4] , (2,3,4,5,6) , (3,4,5,6,7) , set([23,4,5,45,4,4,5,45,45,4,5]) , {'k1' :"sudh" , "k2" : "ineuron","k3":
            "kumar" , 3:6 , 7:8} , ["ineuron" , "data science "]]
empty_li=[]
for z in l:
    if type(z)==list or type(z)==tuple or type(z)==set:
        #print(z)
        for i in z:
            if type(i)==int or type(i)==str:
                empty_li.append(i)
    if type(z)==dict:
        for k in z.items():
            for g in k:
                if type(g)==int or type(g)==str:
                    empty_li.append(g)

In [186]:
empty_li

[1,
 2,
 3,
 4,
 2,
 3,
 4,
 5,
 6,
 3,
 4,
 5,
 6,
 7,
 45,
 4,
 5,
 23,
 'k1',
 'sudh',
 'k2',
 'ineuron',
 'k3',
 'kumar',
 3,
 6,
 7,
 8,
 'ineuron',
 'data science ']

In [115]:
set(empty_li)

{1,
 2,
 23,
 3,
 4,
 45,
 5,
 6,
 7,
 8,
 'data science ',
 'ineuron',
 'k1',
 'k2',
 'k3',
 'kumar',
 'sudh'}

In [126]:
count(empty_li)

NameError: name 'count' is not defined

In [123]:
for i in set(empty_li):
    print(i, "occurance is:", empty_li.count(i))

1 occurance is: 1
2 occurance is: 2
3 occurance is: 4
4 occurance is: 4
5 occurance is: 3
6 occurance is: 3
7 occurance is: 2
k1 occurance is: 1
k3 occurance is: 1
8 occurance is: 1
45 occurance is: 1
data science  occurance is: 1
ineuron occurance is: 2
23 occurance is: 1
kumar occurance is: 1
k2 occurance is: 1
sudh occurance is: 1

In [138]:
#q11 : Try to find out number of keys in dict element
for i in l:
    if type(i)==dict:
        print(len(i))

5

In [140]:
#q12 : Try to filter out all the string data 
l

[[1, 2, 3, 4],
 (2, 3, 4, 5, 6),
 (3, 4, 5, 6, 7),
 {4, 5, 23, 45},
 {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8},
 ['ineuron', 'data science ']]

In [159]:
a=[]
for i in l:
    #print(i)
    if type(i)==list or type(i)==tuple or type(i)==set:
        for j in i:
            if type(j)==str:
                a.append(j)
    if type(i)==dict:
        for k in i.items():
            #print(k)
            for g in k:
                if type(g)==str:
                    a.append(g)

('k1', 'sudh')
('k2', 'ineuron')
('k3', 'kumar')
(3, 6)
(7, 8)

In [158]:
a

['k1', 'sudh', 'k2', 'ineuron', 'k3', 'kumar', 'ineuron', 'data science ']

In [179]:
#q13 : Try to Find  out alphanum in data
empty_li

[1,
 2,
 3,
 4,
 2,
 3,
 4,
 5,
 6,
 3,
 4,
 5,
 6,
 7,
 45,
 4,
 5,
 23,
 'k1',
 'sudh',
 'k2',
 'ineuron',
 'k3',
 'kumar',
 3,
 6,
 7,
 8,
 'ineuron',
 'data science ']

In [190]:
a = str(empty_li)

In [191]:
type(a)

str

In [184]:
empty_list

NameError: name 'empty_list' is not defined

In [193]:
for i in empty_li:
    if type(i)==str:
        if i.isalnum():
            print(i)

k1
sudh
k2
ineuron
k3
kumar
ineuron

In [201]:
#q14 : Try to find out multiplication of all numeric value in  the individual collection inside dataset 
l

[[1, 2, 3, 4],
 (2, 3, 4, 5, 6),
 (3, 4, 5, 6, 7),
 {4, 5, 23, 45},
 {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8},
 ['ineuron', 'data science ']]

In [206]:
l

[[1, 2, 3, 4],
 (2, 3, 4, 5, 6),
 (3, 4, 5, 6, 7),
 {4, 5, 23, 45},
 {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8},
 ['ineuron', 'data science ']]

In [219]:
z=1
for i in l:
    if type(i)==list or type(i)==set or type(i)==tuple:
        for j in i:
            if type(j)==int:
                z=z*j
        print(type(i), z)
    if type(i)==dict:
        for y in i.items():
            for x in y:
                if type(x)==int:
                    z=z*x
        print(type(i),z)

<class 'list'> 24
<class 'tuple'> 17280
<class 'tuple'> 43545600
<class 'set'> 901393920000
<class 'dict'> 908605071360000
<class 'list'> 908605071360000

In [220]:
#q15 : Try to unwrape all the collection inside collection and create a flat list 
empty_li

[1,
 2,
 3,
 4,
 2,
 3,
 4,
 5,
 6,
 3,
 4,
 5,
 6,
 7,
 45,
 4,
 5,
 23,
 'k1',
 'sudh',
 'k2',
 'ineuron',
 'k3',
 'kumar',
 3,
 6,
 7,
 8,
 'ineuron',
 'data science ']