In [1]:
l = [1,2,3,4, "saumya", "gupta", 23.45]

In [2]:
for i in l:
    if i==4:
        break
    print(i)
else:
    ("print something")

1
2
3

In [3]:
d = {"name": "saumya", "title":"data scientist","location": "lucknow"}

In [4]:
for i in d:
    print(i)

name
title
location

In [5]:
for i in d.values():
    print(i)

saumya
data scientist
lucknow

In [6]:
for i in d:
    print(d[i])

saumya
data scientist
lucknow

In [8]:
for i in d:
    print(i,":",d[i])

name : saumya
title : data scientist
location : lucknow

In [9]:
range(9)

range(0, 9)

In [11]:
a = list(range(9))

In [12]:
a

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [18]:
for i in range(0,4): #each row
    for j in range(i+1): #in each row how many elements you need to put
        print("saumya", end=" ") #space
    print("\n") #new line

saumya

saumya saumya

saumya saumya saumya

saumya saumya saumya saumya

In [26]:
for i in range(0,3): #no of row
    for j in range(i+1): #in each row how many elements you need to put/ no. of columns
        print("saumya", end="    ") #space
    print("\r") #new line

saumya
saumya    saumya
saumya    saumya    saumya

In [4]:
saum = (23,45,67,89,40,67)

In [12]:
len(saum)
for i in range(len(saum)):
    print(i, saum[i])

0 23
1 45
2 67
3 89
4 40
5 67

In [35]:
#reverse of above
for i in list(range(len(saum)-1,-1, -1)):
    print(i, saum[i])

5 67
4 40
3 89
2 67
1 45
0 23

In [43]:
d = {"name": "saumya", "title":"data scientist","location": "lucknow", "phone" : 7330760065}
d.items()

dict_items([('name', 'saumya'), ('title', 'data scientist'), ('location', 'lucknow'), ('phone', 7330760065)])

In [44]:
for i in d.items():
    print(i, type(i), type(i[1]))

('name', 'saumya') <class 'tuple'> <class 'str'>
('title', 'data scientist') <class 'tuple'> <class 'str'>
('location', 'lucknow') <class 'tuple'> <class 'str'>
('phone', 7330760065) <class 'tuple'> <class 'int'>

In [45]:
l = [1,2,3,4, "saumya", "gupta", 23.45]

In [51]:
newl = []
for i in l:
    if type(i)==int:
        newl.append(i)

In [52]:
newl

[1, 2, 3, 4]

In [56]:
d = {"name": "saumya", "title":"data scientist","location": "lucknow", "phone" : 7330760065, "email":"saumya.guptalko@gmail.com", 1:234, 2:876}

In [57]:
d

{'name': 'saumya',
 'title': 'data scientist',
 'location': 'lucknow',
 'phone': 7330760065,
 'email': 'saumya.guptalko@gmail.com',
 1: 234,
 2: 876}

In [67]:
for i in d:
    if type(i)== int:
        print(i, d[i]) #i will give keys, d[i] will give values

1 234
2 876

In [68]:
s = "aabbbbccccdddd"

In [89]:
for i in set(s):
    print(i, ":", s.count(i))

c : 4
b : 4
d : 4
a : 2

In [88]:

s.count("a")

2

In [100]:
#print below one by one, but can't iterate integer so convert it into str and then finally result into int
j = 23456789467
for i in str(j):
    print(int(i), type(int(i)))

2 <class 'int'>
3 <class 'int'>
4 <class 'int'>
5 <class 'int'>
6 <class 'int'>
7 <class 'int'>
8 <class 'int'>
9 <class 'int'>
4 <class 'int'>
6 <class 'int'>
7 <class 'int'>

In [116]:
t = ((1,2,3,4),[1,2,5,6,3], "saumya", "gupta", {"name": "saumya", "title":"data scientist","location": "lucknow", 3:3})

In [130]:
for i in t:
    if type(i)==list or type(i)==tuple:
        for j in i:
            if j==3:
                print(j)
    if type(i)==dict:
        for k,v in i.items(): #by default k is assigned to keys, v is assigned to values
            if k==3 or v==3:
                print(k)
                print(v)

3
3
3
3