In [16]:
def test(a,b): #input parameters is given in tupple(), and we can perform any operation in tupple
    '''this is saumya concatenation fun''' #my docstring
    print (a+b)

In [17]:
test(10,50) #after test shift+tab you can see your own docstring

60

In [12]:
test("saumya",  "gupta")

saumyagupta

In [13]:
test(a=10, b=60) #output is tupple

70

In [22]:
#can any no of parameter , put asterisk
def test1(*a):
    print (a)

In [25]:
test1(30+40+60, 40+60)

(130, 100)

In [26]:
#can any no of multiple(parameter) , put asterisk, args is not a keyword its just a name, we can put any name inplace of args(just a notation)
def test2(*args):
    print (args)

In [27]:
test2(40+30)

(70,)

In [28]:
#we have get the output in list, previously it gave in tupple
def test3(*args):
    l=[]
    for i in args:
        l.append(i)
    print (l)

In [29]:
test3(20,30,40,50)

[20, 30, 40, 50]

In [30]:
def test4(*m, a,b,c):
    print (m, a, b,c)

In [31]:
test4(30,40,50,60,70)

TypeError: test4() missing 3 required keyword-only arguments: 'a', 'b', and 'c'

In [68]:
#above its giving error since its considering all parameters in *m, so to solve this we need to specify:
def test5(*m, a,b,c):
    return m, a*a, b+b,c/2

In [69]:
p=test5(34,56,78,a=50,b=60,c=70)

In [70]:
print(p)

((34, 56, 78), 2500, 120, 35.0)

In [73]:
def test10(*m, a,b,c):
    print (m, a*a, b+b,c/2)

In [74]:
test10(34,56,78,a=50,b=60,c=70)

(34, 56, 78) 2500 120 35.0

#Use print when you want to show a value to a human. return is a keyword. Use return when you want to send a value from one point in your code to another.

In [37]:
#n no of key value inpur has to be passed by putting 2 asterisk ** 
#kwargs=keyword argument
test6(**kwags):
    print(30,5,6,7)

SyntaxError: invalid syntax (Temp/ipykernel_1556/3930231589.py, line 3)

In [77]:
#above it will give error because ** means its expecting key value pair
def test7(**kwags):
    return (kwags)

In [78]:
test7(a=4,b=6,c=8,d=12)

{'a': 4, 'b': 6, 'c': 8, 'd': 12}

In [79]:
#now combine both single and double asterisk:
def test8(*args, **kwargs):
    return args, kwargs

In [80]:
test8(2,3,4,5,6,a=30,b=40,c=50)

((2, 3, 4, 5, 6), {'a': 30, 'b': 40, 'c': 50})

In [81]:
def test9(*n):
    m=1
    for i in n:
        if type(i)==int:
            m=m+i
    return m

In [82]:
test9(2,3,4,5,6)

21

In [83]:
#anonymus function without a name=lambda function
#lambda is a reserved keyword, has to be used in the start so that python can know
#Never write complex logic inside lambda as it doesn't look good, as inline code will be longer
#lambda is good for simple logic

In [85]:
n=(lambda a,b:a+b)

In [86]:
n(2,3) #"n" is fun name by which we'll call the function

5

In [101]:
n=(lambda *c: c*2)

In [260]:
n(20,40,60)

(20, 40, 60, 20, 40, 60)

In [261]:
#same as above
def test11(*c):
    return c*2

In [262]:
test11(20,30,40)

(20, 30, 40, 20, 30, 40)

In [257]:
#if you have perform division then itirate though each element using for loop,append and return. Directly using b/2 in return statement it wont happen
def test12(*b):
    l=[]
    for i in b:
        l.append(i/2)
    return l

#def test12(*b):
#    return(b/2)

In [258]:
test12(20,30)

[10.0, 15.0]

In [111]:
#list comprehension
t=(20,30,40,50)
l=[]
for i in t:
    l.append(i)

In [112]:
l

[20, 30, 40, 50]

In [114]:
#same as above
[i for i in t] #so here first put "for i in t" and in the left of it return statement inside sq bracket which denotes list
#append function is not needed as it is already inside a list[]

[20, 30, 40, 50]

In [116]:
a="saumya"
[i for i in a]

['s', 'a', 'u', 'm', 'y', 'a']

In [117]:
[i*i for i in range(0,10)] #square of nos from 0 to 10

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [131]:
#same as above
l=[]
for i in range(10):
    l.append(i*i)

In [132]:
l

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [149]:
#combining lamda and list comprehension
#convert tupple elements inside n to list and square all elements
m=(lambda *n: [i**2 for i in n]) #in right side of : I have provided list comprehension inside[]

In [150]:
m(20,30,40)

[400, 900, 1600]

In [227]:
def test15(**kwargs):
    count=0
    #print(kwargs)
    for i in kwargs.values():
        if type(i)==str or type(i)==list:
            count= count+1
    return count

In [228]:
#count no of strings
test15(a=7, b="saumya", c=20, d="gupta", l=[20,30,40,"summi"])

3

In [ ]:
#write this function using lambda and list comprehension, count is not possible with lamda and list comprehension

test15=(lambda **kwargs: [if type(i)==str or type(i)==list for i in kwargs.values()])

In [221]:
#return list of all the values
def test16( **kwargs):
    return list(kwargs.values())

In [222]:
test16(a=7, b="saumya", c=20, d="gupta", l=[20,30,40,"summi"])

[7, 'saumya', 20, 'gupta', [20, 30, 40, 'summi']]

In [225]:
#same as above
def test17(**kwargs):
    l=[]
    for i in kwargs.values():
        l.append(i)
    return l

In [226]:
test17(a=7, b="saumya", c=20, d="gupta", l=[20,30,40,"summi"])

[7, 'saumya', 20, 'gupta', [20, 30, 40, 'summi']]

In [234]:
l=[20,30,40,45,67]

In [238]:
[i for i in l if i>20 and i<40]

[30]